@import "tailwindcss";

:root {
  --background: #fafafa;
  --background-light: color-mix(in srgb, var(--background), white 20%);
  --background-dark: color-mix(in srgb, var(--background), black 20%);

  --foreground: #030303;
  --foreground-light: color-mix(in srgb, var(--foreground), white 20%);
  --foreground-dark: color-mix(in srgb, var(--foreground), black 20%);

  --header-logo: url('/logo-nova_black.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --background-light: color-mix(in srgb, var(--background), white 20%);
    --background-dark: color-mix(in srgb, var(--background), black 20%);

    --foreground: #fafafa;
    --foreground-light: color-mix(in srgb, var(--foreground), white 20%);
    --foreground-dark: color-mix(in srgb, var(--foreground), black 20%);

    --header-logo: url('/logo-nova_white.png');
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 2rem;
}

section > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
section > p {
  margin-bottom: 0.8rem;
}

#header-logo-container {
  background: no-repeat var(--header-logo);
  background-size: cover;
}

#event-detail {

}
#event-detail .description p {
  margin-bottom: 0.6rem;
}
#event-detail .description p a {
  color: var(--foreground-dark);
  text-decoration: underline;
}

#event-detail .datetime_date, #event-detail .datetime_time, #event-detail .location_address {
  font-weight: 600;
  margin-right: 0.3rem;
}

.modal {

}

.modal .header {

  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--foreground-light);
}
.modal .header_title {
  font-weight: 600;
  font-size: 1.3rem;
}

.modal .modal-content {}

.quote {
  position: relative;
  padding: 0 2rem;
}

.quote::before {
  content: '"';
  position: absolute;
  font-size: 8rem;
  color: var(--foreground-light);
  opacity: 0.2;
  line-height: 1;
  font-family: cursive;
}

.quote::before {
  left: 0;
  top: -1rem;
}

/*
.quote::after {
  right: 0;
  bottom: -2rem;
}*/
